.loginbu
{
 background-color: rgb(226, 221, 213);


}
.loginm
{
    height:380px;
    background-color: rgb(231, 229, 226);
}
.login
{
    height:max-content;
    margin: auto;
    width: 80%;
    height: 70%;
    background-color: rgb(255, 255, 255);
}
.mainlogin
{
    background-color: rgb(255, 255, 255);
    margin: auto;

    width: 30%;
    height: 110%;
    box-shadow: 5px 10px rgb(228, 223, 215);
}

.signup{
    font-size: 70%;
}
h3{
    text-align: center;
}